body{
    background-image: url(images/gachi.png);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color: azure;
    font-size: 30px;
}

.img{
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left:500px;
    margin-top: 200px;
}
.img2{
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left:500px;
    margin-top: 200px;
}

.asd{
    color: rgb(253, 0, 148);
    font-size: 50px;
}
