body{
    background-image: url(images/gachi.png);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color: azure;
    font-size: 30px;
}

.img{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left:945px;
    margin-top: 436px;
}
.img2{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left:600px;
    margin-top: 400px;
}

.asd{
    color: rgb(253, 0, 148);
    font-size: 50px;
}
